.Hero__TextContainer{
   
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}
.Hero__Text{
    font-size: 52px;
    line-height: 1.35;
    font-family: 'Inter', sans-serif;

    font-weight: 400;

}

.Hero__subText{
    font-weight: 400;
    text-align: right;
    color: var(--clr_secondary);
    font-size: 16px;
    margin-right: 90px;
    position: absolute;
    left: 10%;

}